body {
  background-image: url(./img/tokyo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  -webkit-animation: bluranime 2.5s ease 0s 1 normal;
  position: relative;
}
@-webkit-keyframes bluranime {
  0% {
    -webkit-filter: blur(100px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
div#footer {
  text-align: center;
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
}
div#header {
  text-align: center;
  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
}
div#github a {
  color: white;
  text-decoration: underline;
}
h1 a {
  font-size: 3em;
  color: white;
  text-decoration: none;
  -webkit-text-stroke-color: #ccc;
  -webkit-text-stroke-width: 1px;
}
ul {
  list-style: none;
  margin:0px;
  padding:0px;
}
p a {
  color: white;
  text-decoration: none;
}
